[submodule "bsp/STM32CubeF4"]
	path = bsp/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4
[submodule "ticdecodecpp"]
	path = ticdecodecpp
	url = https://github.com/lains/ticdecodecpp.git
